In [2]:
##Bibliotecas
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot

In [3]:
##Leitura do arquivo pnad.csv
pnad = pd.read_csv('/content/drive/MyDrive/Teste 4intelligence/pnad.csv')
pnad.head()

   Unnamed: 0   Ano  Trimestre  UF  ...  VD4031  VD4035  Habitual  Efetivo
0           1  2019          4  11  ...    36.0    30.0  1.050059   1.0598
1           2  2019          4  11  ...     NaN     NaN  1.050059   1.0598
2           3  2019          4  11  ...     NaN     NaN  1.050059   1.0598
3           4  2019          4  11  ...     NaN     NaN  1.050059   1.0598
4           5  2019          4  11  ...     NaN     NaN  1.050059   1.0598

[5 rows x 28 columns]

In [4]:
##Tamanho do arquivo
pnad.shape
print(f'O arquivo tem um total de {pnad.shape[0]} linhas, e {pnad.shape[1]} colunas')

O arquivo tem um total de 878368 linhas, e 28 colunas

In [5]:
### Organizar base de dados
## Excluir observações de pessoas com a data de nascimento igual a 99
pnad = pnad[pnad['V2008'] != 99]

In [6]:
## Excluir as observações dos gêmeos 
pnad['nasc'] = pnad['V2008'].astype(str) + pnad['V20081'].astype(str) + pnad['V20082'].astype(str)
pnad['gemeo'] = pnad['V1008'].astype(str) + pnad['nasc'].astype(str) + pnad['V2007'].astype(str)
pnad = pnad.drop_duplicates(subset='gemeo', keep = 'first')

In [7]:
### Alternativa 1

## Pessoas ocupadas no 4 trimestre de 2019

pnad2019 = pnad[pnad['Ano'] == 2019]
pnad2019_ocupadas = pnad2019[pnad2019['VD4002'] == 1]
pessoas_ocupadas2019 = pnad2019_ocupadas['VD4002'].sum()
print('Pessoas ocupadas em 2019: ')
print('pessoas_ocupadas2019')

# Perfil dessas pessoas ocupadas
print("Perfil da população ocupada em 2019")
# Sexo
print(pnad2019_ocupadas.groupby("V2007").count()["UF"])
# Escolaridade
print(pnad2019_ocupadas.groupby("VD3004").count()["UF"])
# Idade
print("Perfil por idade:")
pnad2019_ocupadas.groupby("V2009").count()["UF"]
print("> Idade Máxima:")
print(pnad2019_ocupadas["V2009"].max())
print("> Idade Mínima:")
print(pnad2019_ocupadas["V2009"].min())
print("> Média de idade:")
print(pnad2019_ocupadas["V2009"].mean())
# Cor ou raça
print("Perfil por cor ou raça:")
print(pnad2019_ocupadas.groupby("V2010").count()["UF"])

Pessoas ocupadas em 2019:
pessoas_ocupadas2019
Perfil da população ocupada em 2019
V2007
1    88926
2    62329
Name: UF, dtype: int64
VD3004
1.0     4750
2.0    41906
3.0    12189
4.0     9773
5.0    47341
6.0     8213
7.0    27083
Name: UF, dtype: int64
Perfil por idade:
> Idade Máxima:
98
> Idade Mínima:
14
> Média de idade:
40.802095798486
Perfil por cor ou raça:
V2010
1    57084
2    14747
3      827
4    77797
5      772
9       28
Name: UF, dtype: int64

In [8]:
## Pessoas ocupadas no 4 trimestre de 2020
pnad2020 = pnad[pnad["Ano"] == 2020]
pnad2020_ocupadas = pnad2020[pnad2020["VD4002"] == 1]
pessoas_ocupadas2020 = pnad2020_ocupadas["VD4002"].sum()
pessoas_ocupadas2020

# Perfil dessas pessoas
print("Perfil da população ocupada em 2020")
# Sexo
print("Perfil por sexo:")
print(pnad2020_ocupadas.groupby("V2007").count()["UF"])
# Escolaridade
print("Perfil por escolaridade:")
print(pnad2020_ocupadas.groupby("VD3004").count()["UF"])
# Idade
print("Perfil por idade:")
pnad2020_ocupadas.groupby("V2009").count()["UF"]
print("> Idade Máxima:")
print(pnad2020_ocupadas["V2009"].max())
print("> Idade Mínima:")
print(pnad2020_ocupadas["V2009"].min())
print("> Média de idade:")
print(pnad2020_ocupadas["V2009"].mean())
# Cor ou raça
print("Perfil por cor ou raça:")
print(pnad2020_ocupadas.groupby("V2010").count()["UF"])

Perfil da população ocupada em 2020
Perfil por sexo:
V2007
1    22994
2    15479
Name: UF, dtype: int64
Perfil por escolaridade:
VD3004
1.0     1037
2.0     9741
3.0     3023
4.0     2444
5.0    11949
6.0     2195
7.0     8084
Name: UF, dtype: int64
Perfil por idade:
> Idade Máxima:
100
> Idade Mínima:
14
> Média de idade:
42.02271723026538
Perfil por cor ou raça:
V2010
1    15730
2     3389
3      204
4    19002
5      145
9        3
Name: UF, dtype: int64